@import '../init.scss';

.ISSUECREATE {
    background: #5DDADB;
}

.issueCreate-background{
    width: 1200px;
    margin: 0 auto;

    .issueCreate-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .issueCreate-pageName{
        font-weight: bold;
        font-size: 36px;
    }

    .issueCreate-temporary{
        width: 110px;
        height: 46px;
        background: white;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        border-radius: 51px;

        font-size: 18px;
        line-height: 45px;
        text-align: center;
        font-weight: bolder;
    }

    .issueCreate-wrap{
        width: 1200px;
        background: #FFFFFF;
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
        padding: 30px 50px;
        margin-top: 20px;
    }
}