@import '../init.scss';

.ISSUESINGLE {
  width: 380px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: white;
  margin: 10px;
  padding: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2) ;
}

.issueSingle-date {
  width: 100%;
  font-size: 14px;
  text-align: right !important;
}

.issueSingle-icon {
  font-size: 25px;
}

.issueSingle-title {
  font-size: 20px;
  font-weight: bolder;
  word-break: keep-all;
}

.issueSingle-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;

  .issueSingle-hashtag-warp {
    display: flex;

    .issueSingle-hashtag {
      padding: 8px 15px;
      text-align: center;
      background-color: #F78EB6;
      margin-right: 10px;
      border-radius: 100px;
      color: white;
      font-size: 15px;
    }
  }

  .issueSingle-up {
    text-align: center;

    .issueSingle-up-icon {
      font-size: 36px;
    }
    .issueSingle-up-nums {
      font-size: 14px;
    }
  }
}