@import "../../init.scss";

.issueCreate-guide {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}

.issueCreate-step-wrap {
  width: 700px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;

  .issueCreate-step {
    width: 100px;
    height: 100px;
    background-color: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    font-size: 24px;
    font-weight: bolder;
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .checked {
    background: #5DDADB;
    border: none;
    color: white;
  }

  .issueCreate-step-link {
    width: 190px;
    height: 0;
    border: 1px solid #000000;
  }

  .issueCreate-next {
    width: 296px;
    height: 134px;
    background: #5DDADB;
    border-radius: 65px;
    font-weight: bold;
    font-size: 30px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px;
  }
}

.issueCreateTitle-wrap {
  text-align: center;
  margin-top: 70px;

  .issueCreateTitle-guide {
    font-weight: bolder;
    font-size: 32px;
  }

  input {
    margin-top: 35px;
    width: 500px;
    padding: 15px 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }
}

.issueCreate-next-wrap {
  display: flex;
  justify-content: flex-end;

  .issueCreate-next {
    width: 150px;
    text-align: center;
    margin: 35px 0;
    padding: 15px 0;
    border-radius: 100px;
    font-size: 22px;
    font-weight: bolder;
    background-color: #5DDADB;
    color: white;
  }
}